<div class="container-fluid">
  <div class="row justify-content-center align-items-center full-height">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header font-weight-bold text-center">
          Pico y Placa Predictor
        </div>
        <div class="card-body">
          <form [formGroup]="predictForm">
            <div class="row">
              <div class="col-sm-12 text-center">
                <button class="btn btn-light btn-sm text-center border-dark" (click)="resetForm()">
                  <img src="/assets/icon/bootstrap-reboot.svg" alt="" width="16" height="16" title="Bootstrap">
                  Reset form
                </button>
              </div>
              <div class="form-group col-sm-12">
                <label for="licensePlate">License Plate</label>
                <input type="text"
                       id="licensePlate"
                       name="licensePlate"
                       [ngClass]="{'form-control': true, 'is-invalid': licensePlate.invalid && (licensePlate.touched || licensePlate.dirty), 'is-valid': licensePlate.valid && (licensePlate.touched || licensePlate.dirty)}"
                       placeholder="ABC-1242"
                       formControlName="licensePlate"
                       autocomplete="off"
                />
                <div *ngIf="licensePlate.invalid && (licensePlate.dirty || licensePlate.touched)">
                  <div class="invalid-message" *ngIf="licensePlate.errors.required">
                    Enter a license plate
                  </div>
                  <div class="invalid-message" *ngIf="!licensePlate.errors.required && licensePlate.errors.invalidLicense">
                    Enter a valid license plate
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6 col-md-12">
                <label for="date" class="label">Date (YYYY-MM-DD)</label>
                <input type="text"
                       id="date"
                       name="date"
                       class="form-control"
                       placeholder="2020-01-01"
                       formControlName="date"
                       autocomplete="off"
                       [ngClass]="{'form-control': true, 'is-valid': date.valid && (date.touched || date.dirty), 'is-invalid': date.invalid && (date.touched || date.dirty)}"
                />
                <div *ngIf="date.invalid && (date.dirty || date.touched)">
                  <div class="invalid-message" *ngIf="date.errors.required">Enter a date</div>
                  <div class="invalid-message" *ngIf="!date.errors.required && date.errors.invalidDate">Enter a valid date in format yyyy-mm-dd</div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-12">
                <label for="time">Time (HH:mm)</label>
                <input type="text"
                       id="time"
                       name="time"
                       class="form-control"
                       formControlName="time"
                       autocomplete="off"
                       placeholder="11:00"
                       [ngClass]="{'form-control': true, 'is-valid': time.valid && (time.touched || time.dirty), 'is-invalid': time.invalid && (time.touched || time.dirty)}"
                />
                <div *ngIf="time.invalid && (time.dirty || time.touched)">
                  <div class="invalid-message" *ngIf="time.errors.required">Enter a time</div>
                  <div class="invalid-message" *ngIf="!time.errors.required && time.errors.invalidTime">Enter a valid time in format HH:mm</div>
                </div>
              </div>
            </div>
          </form>
          <div *ngIf="forbiddenLicense !== undefined && forbiddenLicense" class="alert alert-danger text-center">
            You shouldn't drive your car at that time!
          </div>
          <div *ngIf="forbiddenLicense !== undefined && !forbiddenLicense" class="alert alert-success text-center">
            You are fine driving your car at that time!
          </div>
          <div class="text-center" *ngIf="loading">
            <p class="text-center">Checking...</p>
            <div *ngIf="loading" class="spinner-border text-info" role="status">
              <span class="sr-only">Checking...</span>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button id="predictButton"
                  class="btn btn-primary"
                  [disabled]="predictForm.invalid || loading"
                  (click)="predictPicoPlaca()"
          >Predict
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
